.myModal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden; /* Ensure overflow is hidden */
  z-index: 1000; /* Ensure the modal is on top of other elements */
}

.myModalContent {
  padding: 25px;
  background-color: white;
  border-radius: 16px;
  min-width: 250px;
  max-width: 90vw; /* Ensure content does not exceed viewport width */
  max-height: 80vh; /* Max height to make the content scrollable */
  overflow-y: auto; /* Make content scrollable if it exceeds max height */
}

.myModal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
